.container{
display: flex;
justify-content: center;
gap: 10rem;
align-items: center;
font-weight: bold;
background-color: red;
height: 5rem;
}

.container>div:hover{
    cursor: pointer;
    transform: scale(2);
}